In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.metrics import (accuracy_score, precision_score, recall_score, f1_score, confusion_matrix)
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()

In [2]:
df = pd.read_csv("Bank-Data.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.columns = ['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df['HasCrCard'] = le.fit_transform(df['HasCrCard'])
df['Geography'] = le.fit_transform(df['Geography'])
df['Gender'] = le.fit_transform(df['Gender'])
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(10000, 14)
10000
14

In [35]:
x = df.iloc[:,:13]
y = df.iloc[:,13]
x, y

(      RowNumber  CustomerId  Surname  CreditScore  Geography  Gender  Age  \
 0             1    15634602     1115          619       1115       0   24
 1             2    15647311     1177          608       1177       0   23
 2             3    15619304     2040          502       2040       0   24
 3             4    15701354      289          699        289       0   21
 4             5    15737888     1822          850       1822       0   25
 ...         ...         ...      ...          ...        ...     ...  ...
 9995       9996    15606229     1999          771       1999       1   21
 9996       9997    15569892     1336          516       1336       1   17
 9997       9998    15584532     1570          709       1570       0   18
 9998       9999    15682355     2345          772       2345       1   24
 9999      10000    15628319     2751          792       2751       0   10

       Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
 0          2       0.00              1          1               1
 1          1   83807.86              1          0               1
 2          8  159660.80              3          1               0
 3          1       0.00              2          0               0
 4          2  125510.82              1          1               1
 ...      ...        ...            ...        ...             ...
 9995       5       0.00              2          1               0
 9996      10   57369.61              1          1               1
 9997       7       0.00              1          0               1
 9998       3   75075.31              2          1               0
 9999       4  130142.79              1          1               0

       EstimatedSalary
 0           101348.88
 1           112542.58
 2           113931.57
 3            93826.63
 4            79084.10
 ...               ...
 9995         96270.64
 9996        101699.77
 9997         42085.58
 9998         92888.52
 9999         38190.78

 [10000 rows x 13 columns],
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 9995    0
 9996    0
 9997    1
 9998    1
 9999    0
 Name: Exited, Length: 10000, dtype: int64)

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0, stratify = y)
x_train_std = stdsc.fit_transform(x_train)
x_test_std = stdsc.transform(x_test)

KNN
K=3:

In [37]:
classifier = KNeighborsClassifier(n_neighbors = 3, metric = 'euclidean')
classifier.fit(x_train_std, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [38]:
y_pred = classifier.predict(x_test_std)
cm = confusion_matrix(y_test, y_pred)
cm

array([[1467,  126],
       [ 270,  137]])

In [39]:
accuracy_score(y_test, y_pred)

0.802

In [40]:
knn_3 = accuracy_score(y_test, y_pred)
knn_3_p = precision_score(y_test, y_pred)
knn_3_r = recall_score(y_test, y_pred)
knn_3_f = f1_score(y_test, y_pred)

K=7:

In [41]:
classifier = KNeighborsClassifier(n_neighbors = 7, metric = 'euclidean')
classifier.fit(x_train_std, y_train)
y_pred = classifier.predict(x_test_std)
cm = confusion_matrix(y_test, y_pred)
cm

array([[1537,   56],
       [ 300,  107]])

In [42]:
accuracy_score(y_test, y_pred)

0.822

In [43]:
knn_7 = accuracy_score(y_test, y_pred)
knn_7_p = precision_score(y_test, y_pred)
knn_7_r = recall_score(y_test, y_pred)
knn_7_f = f1_score(y_test, y_pred)

K=11:

In [44]:
classifier = KNeighborsClassifier(n_neighbors = 11, metric = 'euclidean')
classifier.fit(x_train_std, y_train)
y_pred = classifier.predict(x_test_std)
cm = confusion_matrix(y_test, y_pred)
cm

array([[1557,   36],
       [ 310,   97]])

In [45]:
accuracy_score(y_test, y_pred)

0.827

In [27]:
knn_11 = accuracy_score(y_test, y_pred)
knn_11_p = precision_score(y_test, y_pred)
knn_11_r = recall_score(y_test, y_pred)
knn_11_f = f1_score(y_test, y_pred)

MLP

In [28]:
x = df.iloc[:, :13]
y = df.iloc[:, 13]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,1115,619,1115,0,24,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,1177,0,23,1,83807.86,1,0,1,112542.58,0
2,3,15619304,2040,502,2040,0,24,8,159660.80,3,1,0,113931.57,1
3,4,15701354,289,699,289,0,21,1,0.00,2,0,0,93826.63,0
4,5,15737888,1822,850,1822,0,25,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,1999,771,1999,1,21,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,1336,516,1336,1,17,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,1570,709,1570,0,18,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,2345,772,2345,1,24,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,2751,792,2751,0,10,4,130142.79,1,1,0,38190.78,0

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

mlp_1 = MLPClassifier(hidden_layer_sizes = (32,), max_iter = 500)
mlp_1.fit(x_train, y_train)

mlp_2 = MLPClassifier(hidden_layer_sizes = ( 32, 32), max_iter = 500)
mlp_2.fit(x_train, y_train)

mlp_3 = MLPClassifier(hidden_layer_sizes = (32, 32, 32), max_iter = 500)
mlp_3.fit(x_train, y_train)

accuracy_1 = mlp_1.score(x_test, y_test)
predictions1 = mlp_1.predict(x_test)
mlp1 = accuracy_score(y_test, predictions1)
mlp1_p = precision_score(y_test, predictions1, average ='weighted')
mlp1_r = recall_score(y_test, predictions1)
mlp1_f = f1_score(y_test, predictions1, average ='weighted')

accuracy_2 = mlp_2.score(x_test, y_test)
predictions2 = mlp_2.predict(x_test)
mlp2 = accuracy_score(y_test, predictions2)
mlp2_p = precision_score(y_test, predictions2, average ='weighted')
mlp2_r = recall_score(y_test, predictions2)
mlp2_f = f1_score(y_test, predictions2, average ='weighted')

accuracy_3 = mlp_3.score(x_test, y_test)
predictions3 = mlp_3.predict(x_test)
mlp3 = accuracy_score(y_test, predictions3)
mlp3_p = precision_score(y_test, predictions3, average ='weighted')
mlp3_r = recall_score(y_test, predictions3)
mlp3_f = f1_score(y_test, predictions3, average = 'weighted')

GaussianNB

In [30]:
classifier = GaussianNB()
classifier.fit(x_train_std, y_train)

GaussianNB()

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)
x_train = stdsc.fit_transform(x_train)
x_test = stdsc.transform(x_test)
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
cm = confusion_matrix(y_test, y_pred)
accuracy_score(y_test, y_pred)

0.828

In [32]:
nb_gaussian = accuracy_score (y_test, y_pred)
nb_gaussian_p = precision_score(y_test, y_pred)
nb_gaussian_r = recall_score(y_test, y_pred)
nb_gaussian_f = f1_score(y_test, y_pred)

In [33]:
result = {
    'Estimators': [
        'KNN K=3',
        'KNN K=7',
        'KNN K=11',
        'MLP 1 Hidden Layer',
        'MLP 2 Hidden Layer',
        'MLP 3 Hidden Layer',
        'Naïve Bayes'
    ],
    "Accuracy": [knn_3, knn_7, knn_11, mlp1, mlp2, mlp3, nb_gaussian],
    "Precision": [knn_3_p, knn_7_p, knn_11_p, mlp1_p, mlp2_p, mlp3_p, nb_gaussian_p],
    "Recall": [knn_3_r, knn_7_r, knn_11_r, mlp1_r, mlp2_r, mlp3_r, nb_gaussian_r],
    "F1_Score": [knn_3_f, knn_7_f, knn_11_f, mlp1_f, mlp2_f, mlp3_f, nb_gaussian_f]
}

result_df = pd.DataFrame(result)
print(result_df)

           Estimators  Accuracy  Precision    Recall  F1_Score
0             KNN K=3    0.8020   0.520913  0.336609  0.408955
1             KNN K=7    0.8220   0.656442  0.262899  0.375439
2            KNN K=11    0.8270   0.729323  0.238329  0.359259
3  MLP 1 Hidden Layer    0.7980   0.838824  0.002469  0.708851
4  MLP 2 Hidden Layer    0.7975   0.636006  0.000000  0.707656
5  MLP 3 Hidden Layer    0.7975   0.636006  0.000000  0.707656
6         Naïve Bayes    0.8280   0.710345  0.254321  0.374545